body {
    background-color: var(--gris_claro);
    font-family: Arial, sans-serif;
    margin: 0;
    align-content: center;
}

header, footer {
    padding: 1vw;
}

main {
    max-width: 800px;
    margin: 1vw auto;
    padding: 0vw;
    border: 0.2vw solid var(--oro);
    border-radius: 1vw;
    box-shadow: 0 0 10px var(--oro);
    align-items: center ;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5em;
    font-weight: 300;
    text-align: left;
    padding: 1vw;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    margin: 0vw;
    padding: 2vw 2vw 2vw 2vw;
}

.encabezadoOrden {
    border: 0.2vw solid var(--oro);
    border-radius: 1vw;
}
.containerMain {
    max-width: 800px;
    margin: 1vw auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.Item{
    width: 100%;
}

h1, h2 {
    text-align: center;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.2vw solid var(--oro);
    border-radius: 1vw;
}
.section h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-size: 2vw;    
    font-weight: 300;
    /*border-bottom: 2px solid #ccc;*/
    padding-bottom: 10px;
    margin: 0vw;
}
.details, .products {
    width: 100%;
    border-collapse: collapse;
}
.details th, .details td, .products th, .products td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.products th {
    background-color: #f0f0f0;
}
.products td {
    text-align: right;
}
.products td:first-child {
    text-align: left;
}

.btnOrden {
    background-color: var(--lila_claro);
    color: white;
    padding: 10px 20px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btnOrden:hover {
    background-color: var(--lila_oscuro);
}

/* Estilos del menú header */
header {
    background-color: var(--gris_claro);
    padding: 10px 0;
}

/* Estilos del menú */
.menu {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}