

/*7 - CSS Sección 3 - Clientes*/
.gridContainerClientes {
    border: 0.5vw solid green;
    /*display: grid;
    grid-template-columns: repeat(4,200px);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
}

.gridItemCliente {
    border: 0.1vw solid blue;
    width: 192px;
    height: 97px;
    text-align: center;
}