
/*10 - CSS footer*/
footer {
    
    background-color: var(--gris_claro);
    color: var(--lila_claro);
    padding: 5vh 10vw 05vh 10vw;
}

footer h4 {
    color: var(--lila_claro);
    font-size: 1vw;
    font-weight: bold;
}

footer p {
    margin-bottom: 10px;
}

 .social-buttons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.newsletter-form input[type="email"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.newsletter-form button {
    padding: 10px 20px;
    background-color: var(--gris_oscuro);
    color: var(--lila_claro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sub-footer {
    background-color: var(--gris_claro);
    color: var(--lila_claro);
    padding: 20px 0;
    text-align: center;
}

.sub-footer p {
    margin: 0;
}


/* 10.1 - Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
     .container {
        padding-left: 15px;
        padding-right: 15px;
    }

     .col-md-4 {
        margin-bottom: 30px;
    }

   .newsletter-form input[type="email"] {
        width: 100%;
    }
}
