header {
    background-color: #cccccc; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espaciado interno del encabezado */
}

.navbar-brand img {
    max-height: 60px; /* Tamaño máximo del logo */
}

.menu ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio interno de la lista */
}

.menu li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.menu a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--lila_claro); /* Color del texto del menú */
}

.menu a:hover {
    
    color: var(--lila_oscuro);
}