@import url("./variables.css");

/*3 - CSS HEADER*/
header{ 
    background: #CCCCCC;
    margin: 0px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 150px;
    margin-left: 1vw;
}
header nav div ul li {
    margin-right: 2vmin;
    display: inline;
}

header nav div ul li a {
    text-decoration: none;
    color:var(--colorSegunLogo);
    font-size: 1.4vw;
    
}

header nav div ul li a:hover {
    color: var(--colorSegunLogo2);
    font-size: 1.5vw;
}



/*3.1 - CSS HEADER - RESPONSIVE*/
@media only screen and (max-width: 700px) {
    header nav {
        flex-direction: column;
        align-content: center;
        margin: 0% 10% 0% 10%;
        width: 80%;
    }
    header nav div ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        margin-bottom: 2vmin;
    }
 
}