/* 0 - CSS para todo el sitio */
* { width: 100vm;}

/*1 - CSS etiquetas HTML que aplican a toda la página*/
/* Estilos para títulos */
h1 {
    font-family: Georgia, serif;
    font-size: 2.5vw;
    font-weight: bold;
    color: #333; /* Color oscuro */
}
h2 {
    font-family: Georgia, serif;
    font-size: 2vw;
    font-weight: bold;
    color: #333; /* Color oscuro */
}
h3 {
    font-family: Georgia, serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: #333; /* Color oscuro */
}
h4 {
    font-family: Georgia, serif;
    font-size: 1vw;
    font-weight: bold;
    color: #333; /* Color oscuro */
}

section{
    border: 1vw solid red;
}

/*2 - CSS HEADER*/
header{ 
    border: 1vw solid green;
    background: #f18624;
    overflow: hidden;
}

header nav div ul li {
    margin-right: 2vmin;
    display: inline;
}

header nav div ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.menu ul {
    text-align: right;
}

header nav div ul li a:hover {
    color: black;
    background-color: white;
}

.pedido {
    background-color: #f18624;
    color: rgb(255, 255, 255);
    border-color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5vw;
    
}

.pedido:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    header nav div ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        margin-bottom: 2vmin;
    }
    header nav div ul li a, header nav div ul li .pedido {
        font-size: 5vw;
    }
}

/*3 - CSS SECCION 1*/
.carousel{
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-image {
    max-width: 50%;
    height: 50%;
    object-fit: cover;
    display: flex;
    border: 1vw solid yellow;
}

/**/ 

footer{
    border: 1vw solid blue;
}

/*2-CSS para clases  y pseudoclases de CSS*/







.ulproductos {
    border: 1vw solid green;
    margin: 0vw;
}

.logosClientes {
    border: 1vw solid green;
    margin-block-start: 0vw;
    margin-block-end: 0vw;
    margin-inline-start: 0vw;
    margin-inline-end: 0vw;
}
.caja .item {
    height: 10vw;
    position: relative;
}

.caja .img{
    width: 10vw;
    height: 10vw;
    margin: 0 auto;}

.divNostrosos img {
    width: 20vw;
}

.divNostrosos article {
    display: inline-block;
    width: 70vw;
    vertical-align: top;
    border: #000000 2px solid; 
    border-radius: 10px;
    margin: 0 1.5%;
    background-color: #CCCCCC;
    padding: 30px 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: nowrap; /* Evita el salto de línea */ 
    text-overflow: ellipsis;
}

.contactForm
{
    border: 1vw solid green
}
.contactFormt input, label, textarea {
    display: block;
}

form > label > select {
    display: inline;
}



.disclaimer {
    text-align: center; 
    background-color: gray; 
    color: white;
} 

.redSocial {
    width: 2vw;}

.divNostros {
    border: 1vw solid green
}

.duenia {
    width: 20vw;
    border: 1vw solid yellow;
}

article {
        display: block;
        width: 70vw;
        border : 1vw solid  blue;
    }

.mapa {
    border : 1vw solid green;
    width: 50vw;
    height: 50vw;
}
