.contactForm label {
    display:block;
    font-size: 20px;
    margin-bottom: 10px;
    color: red;
}

.divNostrosos {
    border: 1px solid black;
    width: 50vw;
    display: inline;
}

h1 {
    color: darkblue;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
