
:root {
    --colorPrimario: #f18624;
    --colorsecundario: #1395ba;
    --colorTerciario: #ffe184;
    --lila_claro: #4D4C73;
    --lila_oscuro: #2B2D4A;
    --oro: #D9C771;
    --gris_claro: #CCCCCC;
    --gris: #BFBFBF;
}
